nav{
    text-align: right;
    word-spacing: 10px;
   
}
a{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    margin-top: 60px;
}
header{ height: 90px;
    background-color: cadetblue;

}
section{ 
     background-color: lightblue;

}
footer{ font-style: italic;
     background-color: cadetblue;

}
